@model mvcWenbangiay.Models.KHACHHANG

@{
    ViewBag.Title = "Chitietkhachhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">THÔNG TIN KHÁCH HÀNG</h2>

<div style="margin-left:20px">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
           *********
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

    </dl>
</div>
<p style="margin-left:20px">
    @Html.ActionLink("QUAY LẠI", "Khachhang")
</p>
