@model mvcWenbangiay.Models.DONDATHANG

@{
    ViewBag.Title = "Xoadonhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA ĐƠN HÀNG</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dathanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dathanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtranggiaohang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtranggiaohang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaygiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
